body {
    background-color: rgba(0,184,254, 1);
}

.hidden {
    display: none !important;
}

button,input[type='submit'] {
    cursor: pointer;
}

.filter-button {
    position:absolute;
    right: 20%;
}

.dropdown {
    vertical-align: text-top;
}

.search-bar {
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 2%;
    text-align: center;
}

.search-bar input,div,select {
    margin-right: 3%;
    margin-bottom: 2%;
    
}

#has_mortgage {
    min-width: 120px !important;
}

form {
    vertical-align: middle;
}